/* UWIN COLOR SCHEME:
 * BLUE:
 * #005596
 *
 * YELLOW:
 * #FFCE00
 *
 * GREY:
 * #58585B 
 */

:root {
    --uwin-blue: #005596;
    --uwin-yellow: #FFCE00;
    --uwin-grey: #58585B;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 200vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--uwin-blue);


    & > div {
        display: flex;
        justify-content: space-between;
        width: 1000px;

    }
}

nav {
    position:sticky;
    top: 0;
    height: 50px;
    background-color: red;
}

main {
    background-color: blue;
}

footer {
    display: flex;
    justify-content: center;
    background: var(--uwin-grey);

    & > div {
        display: flex;
        justify-content: space-between;
        width: 1000px;
    }
}